

/* heritage section */
.heritage {
    margin-top: 32px;
   padding-inline: 32px;
}

.deco {
    margin-bottom: 68px;
}

.heritage-text h2 {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 24px;
}

.heritage-text {
    display: flex;
    flex-direction: column;
    gap:  16px;
}
.heritage-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* leaders section */
.leaders {
    margin-top: 108px;
    margin-bottom: 182px;
    padding-inline: 32px;
}

.leader-title {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
}

.leader-cards {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.heritage-hero {
        display: none;
}

.leader-text {
    margin-top: 16px;
}

.leader-text h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    margin-bottom: 8px;
}

.leader-text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    opacity: 75%;
}

/* tablet styles */
@media (min-width: 768px) {
    .hero-intro,
    .heritage,
    .leaders {
        width: 75%;
        margin: 0 auto;
    }
   
    

    /* heritage section */
    .heritage {
        margin-top: 200px;
        padding: 0;
    }
    
    .deco {
        margin-bottom: 49px;
    }
    .heritage-text h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 56px;
    }
   
    /* leaders section */
    .leaders {
        margin-block: 200px;
        padding: 0;
    }
    .leader-title {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
    }
    .leader-cards {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 124px;
    }
}

/* laptop styles */
@media (min-width: 1024px) {
    .hero-intro,
    .heritage,
    .leaders {
        width: 80%;
        max-width: 1110px;
    }
   
  

    /* heritage sections */
    .heritage {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .text-wrapper {
        width: min(45%, 446px);
    }

    .heritage-hero {
        display: block;
        width: min(45%,540px);
    }

    /* leaders section */
    .leaders {
        margin-block: 160px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .leader-cards {
        margin: 0;
        width: 65%;
        row-gap: 64px;
    }
}

