.intro {
    margin-top: 100px;
}

.hero-image img{
    width: 100%;
}

.about-deco {
    display: none;
}

.line-style {
    display: none;
}

.intro-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    text-align: left;
    padding-top: 68px;
    width: 90%;
    padding-left: 32px; 
    background-color: var(--color-neutral-0);
}


.intro-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
}

.intro-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* heritage section */
.heritage {
    margin-top: 32px;
   padding-inline: 32px;
}

.deco {
    margin-bottom: 68px;
}

.heritage-text h2 {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 24px;
}

.heritage-text {
    display: flex;
    flex-direction: column;
    gap:  16px;
}
.heritage-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* leaders section */
.leaders {
    margin-top: 108px;
    margin-bottom: 182px;
    padding-inline: 32px;
}

.leader-title {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
}

.leader-cards {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.leader-text {
    margin-top: 16px;
}

.leader-text h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    margin-bottom: 8px;
}

.leader-text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    opacity: 75%;
}

/* tablet styles */
@media (min-width: 768px) {
    .intro,
    .heritage,
    .leaders {
        width: 75%;
        margin: 0 auto;
    }
   
    .intro {
        margin-top: 0;
        position: relative;
    }
    
    .hero-image img{
        max-height: 720px;
    }
    .about-deco {
        display: block;
        position: absolute;
        top: 26vw;
        right: 0;
        z-index: 2;
    }

    .about-deco h1 {
        font-weight: bold;
        font-size: 120px;
        line-height: 165%;
        letter-spacing: -3px;
        color: var(--color-slate-100);
    }

    .line-style {
        display: block;
        margin-bottom: 72px;
    }

    .intro-text {
        position: absolute;
        right: -1px;
        bottom: -1px;
        padding-top: 89px;
        padding-left: 59px;
    }

    .intro-text h1 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }

    /* heritage section */
    .heritage {
        margin-top: 200px;
        padding: 0;
    }
    
    .deco {
        margin-bottom: 49px;
    }
    .heritage-text h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 56px;
    }

    /* leaders section */
    .leaders {
        margin-block: 200px;
        padding: 0;
    }
    .leader-title {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
    }
    .leader-cards {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 100px;
    }
}


