.intro {
    margin-top: 100px;
}

.hero-image img{
    width: 100%;
}

.intro-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    text-align: left;
    padding-top: 68px;
    width: 90%;
    padding-left: 32px;
    background-color: var(--color-neutral-0);
}


.intro-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
}

.intro-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* heritage section */
.heritage {
    margin-top: 32px;
    padding: 0 32px;
}

.deco {
    margin-bottom: 68px;
}

.heritage-text h2 {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 24px;
}

.heritage-text {
    display: flex;
    flex-direction: column;
    gap:  16px;
}
.heritage-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* leaders section */
.leaders {
    margin-top: 108px;
    padding: 0 32px;
}

.leader-title {
    font-weight: bold;
    font-size: 48px;
    width: min-content;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
}

.leader-cards {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.leader-text {
    margin-top: 16px;
}

.leader-text h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    margin-bottom: 8px;
}

.leader-text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
    opacity: 75%;
}