.contact-hero {
    margin-top: 100px;
}
.hero-image img{
    width: 100%;
}

.hero-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    text-align: left;
    padding: 68px 0 0 32px;
    width: 90%;
    background-color: var(--color-neutral-0);
}

.line-style,
.contact-deco {
    display: none;
}
.hero-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
   
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* contact form and details */
.contact-section {
    margin: 32px 32px 0 32px;
}

.contact-section h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    width: min-content;
    margin-top: 72px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.contact-info h2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 140%;
    color: var(--color-zinc-600);
    margin-bottom: 24px;
}

.contact-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.contact-info span {
    margin-left: 8px;
}

.map-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    cursor: pointer;
    width: fit-content;
}

.map-link p {
    font-weight: bold;
    color: var(--color-zinc-900);
}

.map {
    margin-top: 75px;
}

.map-img img {
    width: 100%;
}

/* contact form */
.contact-us {
    margin: 78px 32px 130px 32px;
}

.contact-us h2 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    width: min-content;
    margin-bottom: 32px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form-info label {
    padding-left: 32px;
    color: var(--color-slate-200);
    font-weight: bold;
    font-size: 20px;    
    line-height: 110%; 
    letter-spacing: -0.3px;
}
.form-info input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-zinc-900);
    font-weight: 500;
    padding: 0px;
    font-size: 18px;    
    line-height: 135%; 
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.form-info textarea {
    resize: none;
    height: 100px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-zinc-900);
    font-weight: 500;
    padding: 0px;
    font-size: 18px;    
    line-height: 135%; 
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.submit-button {
    margin-left: auto;
    transform: translateY(-50%);
}
/* tablet styles */
@media (min-width: 768px) {
    .contact-hero,
    .contact-section,
    .contact-us {
        margin-left: 98px;
        margin-right: 98px;
    }

    .contact-hero {
        margin-top: 156px;
        position: relative;
    }
    
    
    .hero-image img {
        max-height: 720px;
    }
    
    /* refactor this section i.e take it to global css */
     .contact-deco {
        display: block;
        position: absolute;
        top: 26vw;
        right: 0;
        z-index: 2;
    }

    .contact-deco h1 {
        font-weight: bold;
        font-size: 120px;
        line-height: 165%;
        letter-spacing: -3px;
        color: var(--color-slate-100);
    }

    .line-style {
        display: block;
        margin-bottom: 72px;
    }

    .hero-text {
        position: absolute;
        right: -1px;
        bottom: -1px;
        padding-top: 89px;
        padding-left: 59px;
    }

    .hero-text h1 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }

  
    
}
