.contact-hero {
    margin-top: 100px;
}
.hero-image img{
    width: 100%;
}

.hero-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    text-align: left;
    padding-top: 68px;
    padding-left: 32px;
    margin-right: 32px;
    background-color: var(--color-neutral-0);
}


.hero-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
   
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* contact form and details */
.contact-section {
    margin-top: 32px;
    padding: 0 32px;
}

.contact-section h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    width: min-content;
    margin-top: 72px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.contact-info h2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 140%;
    color: var(--color-zinc-600);
    margin-bottom: 24px;
}

.contact-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.contact-info span {
    margin-left: 8px;
}

.map-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    cursor: pointer;
    width: fit-content;
}

.map-link p {
    font-weight: bold;
    color: var(--color-zinc-900);
}

.map {
    margin-top: 75px;
}

.map-img img {
    width: 100%;
}

