

/* contact form and details */
.contact-section {
    margin-top: 32px;
    padding-inline: 32px;
}

.contact-section h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    width: min-content;
    margin-top: 72px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.contact-info h2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 140%;
    color: var(--color-zinc-600);
    margin-bottom: 24px;
}

.contact-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.contact-info span {
    margin-left: 8px;
}

.map-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    cursor: pointer;
    width: fit-content;
}

.map-link p {
    font-weight: bold;
    color: var(--color-zinc-900);
}

/* map section  */
.map {
    margin-top: 75px;
}

.map-img img {
    width: 100%;
}

/* contact form */
.contact-us {
    margin-top: 78px;
    margin-bottom: 130px;
    padding-inline: 32px;
}

.contact-us h2 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    width: min-content;
    margin-bottom: 32px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form-info label {
    padding-left: 32px;
    color: var(--color-slate-200);
    font-weight: bold;
    font-size: 20px;    
    line-height: 110%; 
    letter-spacing: -0.3px;
}
.form-info input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-zinc-900);
    font-weight: 500;
    padding: 0px;
    font-size: 18px;    
    line-height: 135%; 
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.form-info textarea {
    resize: none;
    height: 100px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-zinc-900);
    font-weight: 500;
    padding: 0px;
    font-size: 18px;    
    line-height: 135%; 
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

.submit-button {
    margin-left: auto;
    transform: translateY(-50%);
}
/* tablet styles */
@media (min-width: 768px) {
    .hero-intro,
    .contact-section,
    .contact-us,
    .map {
        width: 75%;
        max-width: 1110px;
        margin: 0 auto;
    }

   

    /* contact info */
    .contact-section {
        margin-top: 200px;
        padding: 0;
    }

    .contact-section h1 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    /* map image */
    .map {
        margin-top: 200px;
    }

    /* contact form */
    .contact-us {
        margin-block: 200px;
        padding: 0;
    }

    .contact-us h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        width: 100%;
        margin-bottom: 48px;
    }
}

/* desktop styles */

 @media (min-width: 1024px) {
    .hero-intro,
    .contact-section,
    .contact-us,
    .map {
        width: 80%;
    }
    
    /* contact info section */
    .contact-container,
    .contact-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content:  space-between
    }

    .contact-wrapper {
        width: 65%;
        justify-content: space-around;
    }
    .contact-wrapper,
    .map-link,
    .contact-section h1 {
        margin: 0
    }
    .contact-info {
        flex-direction:column;
        align-items: flex-start;
        gap: 56px;
    }

    /* contaact form */
    .contact-us {
        margin-block: 160px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .contact-us h2 {
        width: min(30%, 350px);
        margin: 0;
    }

    .contact-form {
        width: min(60%, 730px);
    }
 } 
