.contact-hero {
    margin-top: 100px;
    padding: 0 32px;
}

.hero-image img{
    width: 100%;
}
.hero-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    text-align: left;
    padding-top: 68px;
    width: 90%;
    padding-left: 32px;
    background-color: var(--color-neutral-0);
}


.hero-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
    width: 80%;
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}

/* contact form and details */
.contact-section {
    margin-top: 32px;
    padding: 0 32px;
}

.contact-section h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 30px;
    width: min-content;
    margin-top: 72px;
}

.contact-info h2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 140%;
    color: var(--color-zinc-600);
    margin-bottom: 24px;
}

.contact-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}
