:root {
    --font-family: 'League Spartan', sans-serif;
    --color-neutral-950: #000000;
    --color-neutral-200: #e1e1e1;
    --color-neutral-0: #ffffff;
    --color-slate-500: #7d828f;
    --color-slate-200: #c8ccd8;
    --color-slate-100: #eeeff4;
    --color-slate-900: #eeeff4;
    --color-zinc-900: #1B1D23;
    --color-zinc-600: #60636d;
    --color-red-500: #DF5656;
    --color-stone-100: #eae8e8;
}

/* navbar styling */
 header {
    padding: 32px;
    background-color: #fff;
    position: fixed;
    width: 100%; 
     top: 0;
    z-index: 10;
}

.header-style {
    display:none;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    cursor: pointer;
    margin-left: auto;
}

.desktop-nav {
    display: none;
}
.nav-logo svg {
    width: 77px;
    height: 32px;
}

/* mobile nav decoration */
.slider-menu {
    border: 1px solid var(--color-slate-200);
    position: fixed;
    padding-left: 48px;
    padding-block: 8px;
    top: 100px;
    width: 80%;
    transform: translateX(100%) ;
    transition: transform 0.3s ease-in-out;
    right: 0;
    background-color: var(--color-slate-100);
}

.slider-menu.active {
    transform: translateX(0);
}

.slider-menu ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.slider-menu li {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0px;
    color: var(--color-zinc-900);
}
/* line decoration */
 .line-style {
    width: 65px;
    height: 1px;
    background-color: var(--color-slate-200);
    margin-bottom: 16px;
}

/* overlay */
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/* footer styling */
footer {
    background-color: #f1f1f1;
    text-align: center;
    color: var(--color-slate-100);
    position: relative;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    top: -60px;
    align-items: center;
    color: var(--color-slate-500);
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-zinc-900);
}

.logo svg {
    fill: var(--color-neutral-0);
}

.footer-navigation ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-navigation li {
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0px;
    color: var(--color-slate-500);
    transition: color 0.3s ease-in-out;
}

.footer-navigation li:hover {
    color: var(--color-zinc-900);
}
.button-div {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    gap: 24px;
    letter-spacing: 0px;
    padding: 24px 32px;
    color: var(--color-neutral-0);
    background-color: var(--color-zinc-900);
    cursor: pointer;
    width: fit-content;
    transition: color 0.3s ease-in-out;
}

.button-div:hover {
    background-color: var(--color-zinc-600);
}
.button-div svg {
    stroke: var(--color-neutral-0);
}

/* intro section for about and contact pages */
.hero-intro {
    margin-top: 100px;
}

.hero-image {
    position: relative;
}
.hero-image img{
    width: 100%;
}

.hero-deco {
    display: none;
}

.line-style {
    display: none;
}

.hero-text {
    text-align: center;
    position: relative;
    bottom: 44px;
    z-index: 2;
    text-align: left;
    padding-top: 68px;
    width: 90%;
    padding-left: 32px; 
    background-color: var(--color-neutral-0);
}


.hero-text h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.7px;
    line-height: 110%;
    color: var(--color-zinc-900);
    margin-bottom: 16px;
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: var(--color-zinc-600);
    letter-spacing: 0;
}
/* tablet styles */
@media (min-width: 768px) {
    /* header   */
    header {
        padding: 60px 0;
        width: 75%;
        margin: 0 auto;
        position: static;
    }

    .header-style {
        display: flex;
        align-items: center;
        gap: 48px;
        transform-origin: top left;
        transform: rotate(90deg) translateY(-50%);
        width: fit-content;
        position: absolute;
        top: 0;
        left: 6%;
    }

    .header-line {
        width: 104px;
        height: 1px;
        background-color: var(--color-slate-200);
    }

    .header-style p {
        font-size: 18px;
        font-weight: 500;
        line-height: 135%;
        letter-spacing: 0px;
        color: var(--color-slate-200);
    }
    .nav {
        gap: 96px;
    }
    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }
    
    .desktop-nav ul {
        display: flex;
        gap: 56px;
        list-style: none;
    }

    .desktop-nav li {
        font-size: 18px;
        font-weight: bold;
        line-height: 140%;
        letter-spacing: 0px;
        color: var(--color-slate-500);
        transition: color 0.3s ease-in-out;
    }
   
    .desktop-nav li:hover {
        color: var(--color-zinc-900);
    }


    
    footer {
        background-color: var(--color-neutral-0);
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        inset: 0;
    }
    
    .footer-left {
        flex-direction: row;
        background-color: #f1f1f1;
        align-items: center;
        width: 80%;
        gap: 40px;
        
    }

    .footer-right {
        position: absolute;
        right: 0;
    }
    .footer-navigation ul {
        flex-direction: row;
        gap: 56px;
    } 

    /* about and contact intro section */
    .hero-intro {
        margin-top: 0;
        position: relative;
    }
    
    .hero-image img{
        max-height: 720px;
    }
    .hero-deco {
        display: block;
        position: absolute;
        top: 26vw;
        right: 0;
        z-index: 5;
    }

    .hero-deco h1 {
        font-weight: bold;
        font-size: 120px;
        line-height: 165%;
        letter-spacing: -3px;
        color: var(--color-slate-100);
    }

    .line-style {
        display: block;
        margin-bottom: 72px;
    }

    .hero-text {
        position: absolute;
        right: -1px;
        bottom: -1px;
        padding-top: 89px;
        padding-left: 59px;
    }

    .hero-text h1 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }
}

/* desktop styles */

@media (min-width:1024px) {
    footer, 
    header {
        width: 80%;
        max-width: 1110px;
        margin: 0 auto;
    }

    .header-style {
        left: 5%;
    }

    .header-style p {
        letter-spacing: 18px;
    }

    /* intro sections */
      /* intro-section */
    .hero-image {
        width: min(70%,635px);
    }
    
    .hero-deco {
        top: 25%;
    }
    .hero-deco h1{
        font-size: 180px;
        letter-spacing: -5px;
        line-height: 80%;
    }
    .hero-text {
        width: 60%;
    }
}

/* large desktops */
@media (min-width:1280px) {
    /* intro section */
    .hero-deco h1 {
        font-size: 250px;
    }

    .hero-text {
        padding-left: 15%;
    }
}