:root {
    --font-family: 'League Spartan', sans-serif;
    --color-neutral-950: #000000;
    --color-neutral-200: #e1e1e1;
    --color-neutral-0: #ffffff;
    --color-slate-500: #7d828f;
    --color-slate-200: #c8ccd8;
    --color-slate-100: #eeeff4;
    --color-slate-900: #eeeff4;
    --color-zinc-900: #1B1D23;
    --color-zinc-600: #60636d;
    --color-red-500: #DF5656;
    --color-stone-100: #eae8e8;
}
/* navbar styling */
 header {
    padding: 32px;
    background-color: #fff;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 10;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo svg {
    width: 77px;
    height: 32px;
}

/* line decoration */
 .line-style {
    width: 65px;
    height: 1px;
    background-color: var(--color-slate-200);
    margin-bottom: 16px;
}
/* footer styling */
footer {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 133px;
    color: var(--color-slate-100);
    position: relative;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    top: -60px;
    align-items: center;
    color: var(--color-slate-500);
    margin: 0 auto;
}
.logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-zinc-900);
}

.logo svg {
    fill: var(--color-neutral-0);
}

.footer-navigation ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0px;
    color: var(--color-slate-500);
}

.button-div {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    gap: 24px;
    letter-spacing: 0px;
    padding: 24px 32px;
    color: var(--color-neutral-0);
    background-color: var(--color-zinc-900);
    cursor: pointer;
    width: fit-content;
}

.button-div svg {
    stroke: var(--color-neutral-0);
}
