/* hero section */
.hero-container {
    position: relative;
    margin-top: 100px;
}

.hero-container  img {
    width: 100%;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
 .text-wrapper {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    color: var(--color-neutral-0);
    text-align: left;
    z-index: 2;
} 
 .text-wrapper h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    width: 50%;
    letter-spacing: -1.7px;
}

.text-wrapper p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0px;
    margin-bottom: 80px;
}

 /* intro section */
 .intro-container {
    padding-top: 72px;
    width: 90%;
    margin: 0 auto;
 }

.intro-container h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -1.7px;
    margin-top: 65px;
    color: var(--color-zinc-900);
    max-width: 80%;
}

.intro-text {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    color: var(--color-zinc-600);
    font-weight: 500;
}

/* about-redirect */
.about-redirect {
    position: relative;
    margin-top: 115px;
}

.redirect-hero img {
    width: 100%;
}

.redirect-text {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    color: var(--color-neutral-0);
    text-align: left;
    z-index: 2;
}

.redirect-text h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    width: 260px;
    letter-spacing: -1.7px;
    margin-bottom: 30px;
}

/* featured */
.featured {
    margin-top: 72px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.featured h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -1.7px;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featured-cards {
    position: relative;
}

 .image-container img {
    width: 100%;
    height: 240px;
}

.featured-text {
    position: absolute;
    bottom: 16px;
    left: 24px;
    color: var(--color-neutral-0);
    z-index: 2;
}

.featured-text h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0;
}

.featured-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0px;
    opacity: 75%;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
