/* hero section */
.hero-container {
    position: relative;
    margin-top: 100px;
}

.hero-cards {
    display: none
}
.hero-container  img {
    width: 100%;
}
 .text-wrapper {
    position: absolute;
    width: 311px;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    color: var(--color-neutral-0);
    text-align: left;
    z-index: 2;
} 
 .text-wrapper h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    width: min-content;
    letter-spacing: -1.7px;
}

.text-wrapper p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0px;
    margin-bottom: 80px;
}

 /* intro section */
 .intro-container {
    margin-top: 72px;
    padding-inline: 32px;
    
 }

 .intro-hero {
    display: none;
 }
 .big {
    display: none;
 }
.intro-container h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -1.7px;
    margin-top: 65px;
    color: var(--color-zinc-900);
    width: 311px;
}

.intro-text {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0px;
    color: var(--color-zinc-600);
    font-weight: 500;
}

/* about-redirect */
.about-redirect {
    margin-top: 115px;
}

.redirect-container {
    position: relative;
} 

.redirect-hero img {
    width: 100%;
}

.redirect-text {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    color: var(--color-neutral-0);
    text-align: left;
    z-index: 2;
}

.redirect-text h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    width: 260px;
    letter-spacing: -1.7px;
    margin-bottom: 30px;
}

/* featured */
.featured {
    margin-top: 72px;
    margin-bottom: 133px;
    padding-inline: 32px;
}

.featured h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -1.7px;
    margin-bottom: 40px;
    color: var(--color-zinc-900);
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featured-cards {
    position: relative;
}

 .image-container img {
   width: 100%;
}

.featured-text {
    position: absolute;
    bottom: 16px;
    left: 24px;
    color: var(--color-neutral-0);
    z-index: 2;
}

.featured-text h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0;
}

.featured-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0px;
    opacity: 75%;
}

.number-card {
   display: none;
}
.full-width {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

/* tablet styles */
@media (min-width: 768px) {
    .hero,
    .intro-container,
    .about-redirect,
    .featured{
        width: 75%;
        margin: 0 auto;
    }

    .hero-container {
       margin-top: 0;
    }

    .text-wrapper {
        width: 434px;
        left: 56px;
    }

    .text-wrapper h1 {
        font-size: 96px;
        line-height: 85%;
        letter-spacing: -2px;
    }

    .text-wrapper p {
        margin-bottom: 40px;
    }

    /* intro section */
    .intro-container {
       margin-top: 100px; 
       padding: 0;  
    }
    
    .line-style {
        display: none;
    }

    .big {
        display: block;
        font-size: 120px;
        font-weight: bold;
        line-height: 90%;
        letter-spacing: -3px;
        color: var(--color-slate-100);
    }

    .intro-container h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin: 0;
        width: 446px;
    }

    .intro-text {
        margin-top: 40px;
    }

    /* about-redirect */
    .about-redirect {
        margin-top: 244px;
    }

    .redirect-text h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        width: 70%;
    }

    /* featured */
    .featured {
        margin-top: 200px;
        margin-bottom: 208px;
        padding: 0;
        position: relative;
    }
    
    .featured h2 {
        font-size: 72px;
        line-height: 90%;
        letter-spacing: -2px;
        margin-bottom: 68px;
    }
    
    .number-card {
        display: block;
        position: absolute;
        font-size: 250px;
        font-weight: bold;
        line-height: 80%;
        right: 0;
        top: 50%;
        transform: translateY(-40%);
        letter-spacing: -5px;
        z-index: 2;
        color: var(--color-neutral-0);
        opacity: 50%;
    }
    .full-width {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: fit-content;
    }
}

 /* laptop styles */

@media (min-width: 1024px) {
    .hero,
    .intro-container,
    .about-redirect,
    .featured{
        width: 80%;
    }

    /* hero section */ 
    .hero-cards {
        display: block;
        position: absolute;
        left: -80px;
        bottom: -1px;
        display: flex;
        z-index: 8;
    }
    
    .image-card {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: var(--color-neutral-0);
    }
   
    .image-card p {
        font-size: 18px;
        font-weight: bold;
        line-height: 140%;
        margin: auto;
        letter-spacing: 0;
        color: var(--color-slate-500);
    }

    .hero-container img {
        height: 100%;
        max-height: 720px;
    }

    .text-wrapper {
        left: min(20%, 200px);
    }

    /* intro section */
 .big {
    transform: translateY(50%);
    font-size: 180px;
    letter-spacing: -5px;
    line-height: 80%;
  }

  .hero-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
  }

  .hero-text {
    width: 50%;
    height: 30%;
  }
  .intro-hero {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 350px;
  }

   /* about redirect */
   .redirect-text {
    left: min(20%, 200px);
   }
    /*featured section */
    .cards-container {
        flex-direction: row;
    }

    .image-container img {
        max-height: 560px;
        max-width: 350px;
    }

    .number-card {
        top: 32px;
        transform: translateY(0);
        font-size: 180px;
    }
}

/* large desktops */