/* hero section */
.hero-container {
    position: relative;
}

.hero-container  img {
    width: 100%;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
 .text-wrapper {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    color: var(--color-neutral-0);
    text-align: left;
    z-index: 2;
} 
 .text-wrapper h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    width: 50%;
    letter-spacing: -1.7px;
}

.text-wrapper p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0px;
    margin-bottom: 80px;
}

 